.body{
    margin: 0%;
    border: 0%;    
}
.header{
    height: 100vh;
}
.navbar-style{
	box-shadow: 0 5px 10px  #595959;
	background-color: white;
}
.logo{
	height: 55px;
	padding: 2px 10px;
}
.icon-bar{
	background: #1a75ff;
}

form .btn-default{
	background-color: #00b300;
	width: 70%;
	margin-left: 35px;
	color: #fff;
	border-radius: 20px;
	box-shadow:  0px 10px 30px 0px #57b846;
}
form .btn-default:hover{
	background-color: #000;
	transition-duration: 0.5s;
	box-shadow: none;
	color:#fff;
}